<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
	Do you live in Berlin and want to share your knowledge and love of the city? 
	Being a local with Plus One Berlin gives you the opportunity to show visitors 
	your favourite parts of the city, at a time convenient for you. You'll become 
	part of the P1B locals community, with regular events and perks, and you can 
	also make international friends and contacts. Want to find out more? 
	Email info@plusoneberlin.com.
</p>
